.connet{
	width: 1188px;
	height: 2842px;
	margin: auto;
	margin-top: 20px;
}
.connet_tit{
	height: 28px;
    border-bottom: 2px solid #1a1a1a;
    font-size: 20px;
    color: #1a1a1a;
    position: relative;
}
.connet_tit span{
    float: left;
    width: 7px;
    height: 19px;
    background: #b70841;
    margin-right: 8px;
}
.tips{
	width: 70px;
	height: 20px;
	float: right;
    margin-right: 25px;
    color: #fa7117;
    cursor: pointer;
    font-size: 15px;
    margin-top: 7px;
}
.tips:hover {
    color: #ed415b;
}
.tips_wenzi{
	position: absolute;
	width: 335px;
	height: 320px;
	line-height: 25px;
	background: rgba(0,0,0,.5);
	border-radius: 5%;
	display: none;
	top: 30px;
	right: 0;
}
.tips_wenzi p{
    font-size: 14px;
    width: 320px;
    margin-left: 13px;
    margin-top: 5px;
    color: white;
}
.connet_evlope{
	width: 1186px;
	height: 293px;
	border: 1px solid gainsboro;
	border-top: none;
	margin: auto;
}
.connet_evlope_bg{
	width: 728px;
	height: 292px;
	margin: auto;
	position: relative;
	background: url(../img/evlope_bg.png) no-repeat;
}
.evlope_box{
	width: 390px;
	height: 276px;
    position: absolute;
    left: 195px;
}
.evlope_img{
	    cursor: pointer;
    text-align: center;
    padding-top: 63px;
    height: 210px;
}
.evlope_img img{
	width: 142px;
	height: 142px;
}

.connet_1_tit{
	height: 28px;
    border-bottom: 2px solid #1a1a1a;
    font-size: 20px;
    color: #1a1a1a;
    margin-top: 20px;
    position: relative;
}
.connet_1_tit span{
    float: left;
    width: 7px;
    height: 19px;
    background: #b70841;
    margin-right: 8px;
}
.connet_2_nav{
	width: 1186px;
	height: 36px;
	border: 1px solid gainsboro;
	border-top: none;
	background: #F5F5F5;
}
.connet_2_nav li{
	float: left;
	font-size: 13px;
	height: 36px;
	line-height: 36px;
	margin-left: 20px;
}
.connet_3{
	width: 1186px;
	height: 2395px;
	margin-top: 10px;
	border: 1px solid gainsboro;
}
.connet_3_1{
	width: 1186px;
	height: 240px;
}
.connet_3_nav{
	width: 100%;
    height: 30px;
    line-height: 30px;
    background: #f5f5f5;
    border-bottom: 1px solid #e4e4e4;
    font-size: 12px;
    color: #1a1a1a;
    text-indent: 22px;
}

.carousel_inner{
	width: 1098px;
    height: 165px;
    padding-top: 35px;
    margin: auto;
}
.carousel_inner ul{
	width: 1098px;
    height: 165px;
    margin: auto;
}

.carousel_inner ul li{
	width: 334px;
    height: 165px;
    float: left;
     float: left;
    margin-left: 24px;
}    
.li_left{
	width: 280px;
    height: 100px;
}

.ticket_list{
	background: url(../img/ticket_bg.png) no-repeat;
    width: 334px;
    height: 122px;
    position: relative;
}

.tic_list_tit{
	height: 34px;
	width: 280px;
	padding-left: 15px;
	line-height: 34px;
    line-height: 36px;
    font-size: 13px;
    color: #1a1a1a;
}
.tic_list_tit span{
	display: block;
    background: url(../img/tic_ico.png) no-repeat;
    width: 22px;
    height: 20px;
    float: left;
    margin: 8px 10px 0 0;
}
.tic_list_reduce{
	height: 44px;
	width: 280px;
	margin-top: 10px;
	padding-left: 15px;
    color: #fa7117;
}
.tic_list_reduce span{
	width: 63px;
    height: 30px;
    float: left;
    font-size: 13px;
}
.tic_list_reduce span b{
    font-size: 20px;
}
.tic_list_reduce p{
	    float: left;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
}
.info{
	background: url(../img/info_bg.png) no-repeat;
    width: 99px;
    height: 34px;
    float: left;
    text-align: center;
    margin: 5px 0 0 10px;
    display: table;
    overflow: hidden;
}
.info span{
	width: 96%;
    margin: 0 auto;
    line-height: 34px;
    vertical-align: middle;
    display: table-cell;
}
.yxq{
	clear: both;
	font-size: 13px;
    color: #fff;
    margin-left: 16px;
    line-height: 20px;
    margin-top: 15px;
}
.shop_empty{
	width: 100px;
	background: url(../img/empty.png) no-repeat;
    background-size: 100% 100%;
    height: 77px;
    position: absolute;
    top: 0;
    right: 0;
}
.li_a{
	width: 156px;
    height: 32px;
    margin-left: 35%;
    margin-top: 6px;
    border: 1px solid #b70841;
    border-radius: 3px;
}

.li_a a{
	font-size: 13px;
	color: #b70841;
	line-height: 32px;
	padding-left: 25px;
}
.ljqj{
	float: right;
    width: 20px;
    margin-top: -13px;
    margin-right: 7px;
    font-size: 15px;
    font-weight: bold;
    height: 80px;
    color: #444;
}




